// Pagination.scss

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;  // Center vertically
    margin-top: 20px;
  
    .pagination__button {
      padding: 8px 12px;
      margin: 0 4px;
      cursor: pointer;
      border: 1px solid #ccc;
      background-color: var(--background-color);
      outline: none;
      color: var(--text-color);
  
      &:hover {
        background-color: var(--background-light);
      }
  
      &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
      }
  
      &.active {
        background-color: var(--primary-color);
      }
      &.arrow {
        font-weight: bold;
        font-size: 16px;
        background-color: var(--primary-color);
      }
    }
  }
  